<plugin
        id="gov.nasa.jpl.mgss.mbee.expressionEditor.plugin"
	name="ExpressionEditor"
	internalVersion="1"
        version="1.0.0"
        provider-name="NASA / Jet Propulsion Laboratory / Caltech"
	class-lookup="LocalFirst"
	class="plugin.matheditor.AddContextMenuButton">
	<requires>
	   <api version="1.0"/>
	</requires>

    <runtime>
		<library name="ExpressionEditor-plugin.jar"/>
		<library name="lib/ams-fonts-1.0.jar"/>
		<library name="lib/antlr-4.5.3-complete.jar"/>
		<library name="lib/AppleJavaExtensions-1.2.jar"/>
		<library name="lib/asciiMathML2Tree_Func_Equ.jar"/>
		<library name="lib/batik-anim-1.7.jar"/>
		<library name="lib/batik-awt-util-1.7.jar"/>
		<library name="lib/batik-css-1.7.jar"/>
		<library name="lib/batik-dom-1.7.jar"/>
		<library name="lib/batik-ext-1.7.jar"/>
		<library name="lib/batik-parser-1.7.jar"/>
		<library name="lib/batik-svg-dom-1.7.jar"/>
		<library name="lib/batik-util-1.7.jar"/>
		<library name="lib/batik-xml-1.7.jar"/>
		<library name="lib/commons-cli-1.2.jar"/>
		<library name="lib/commons-io-1.3.1.jar"/>
		<library name="lib/commons-lang-2.4.jar"/>
		<library name="lib/commons-logging-1.1.1.jar"/>
		<library name="lib/dejavu-fonts-2.29.jar"/>
		<library name="lib/jeuclid-cli-3.1.9.jar"/>
		<library name="lib/jeuclid-core-3.1.9.jar"/>
		<library name="lib/jeuclid-mathviewer-3.1.9.jar"/>
		<library name="lib/stix-fonts-1.0-beta-2.jar"/>
		<library name="lib/xml-apis-1.3.04.jar"/>
		<library name="lib/xml-apis-ext-1.3.04.jar"/>
		<library name="lib/xmlgraphics-commons-1.3.1.jar"/>


    </runtime>

</plugin>
